@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- Utility Classes ----- */

/* ----- Setting Up Grid Layout ----- */
body {
    margin: 0;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "hd hd"
        "nav main";
}

header {
    grid-area: hd;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

/* ----- Setting Up Header ----- */
header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0, 15);

    background-color: #111827;
    color: white;
}


.logo {
    border-radius: 50%;
    object-fit: cover;
}

.site-name {
    font-size: 2.5rem;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

/* ----- Setting Up Sidebar ----- */
nav {
    background-color: #f3f4f6;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav span {
    padding: 5px 0px;

    font-size: 1.25rem;
    font-family: "Roboto Condensed", sans-serif;

    display: block;
    cursor: pointer;
}

.nav span:hover {
    color: #2563eb;
}

.new-todo {
    width: 50px;
    height: 50px;

    font-size: 24px;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;

    background-color: orangered;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s ease;
}

.new-todo:hover {
    transform: scale(1.1);
}

/* ----- Setting Up Main ----- */
main {
    background-color: #F2EFEA;
    padding: 25px;
}

.card {}